# Configuration API
VITE_API_URL=http://localhost:8080/api

# Mode de connexion (true = connexion directe, false = proxy Vite)
VITE_USE_DIRECT_CONNECTION=false

# Configuration CORS
VITE_CORS_ENABLED=true
